<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380741780358-d3726cek25dkls7gf36atpm8bl5nf2ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380741780358-d3726cek25dkls7gf36atpm8bl5nf2ne</string>
	<key>API_KEY</key>
	<string>AIzaSyAo3Y6b6wYPdqOHn4J4vCZ8zh_-fidR704</string>
	<key>GCM_SENDER_ID</key>
	<string>380741780358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adspotter</string>
	<key>PROJECT_ID</key>
	<string>adpotter-1d5c7</string>
	<key>STORAGE_BUCKET</key>
	<string>adpotter-1d5c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380741780358:ios:daa047d192a0fdf183a207</string>
</dict>
</plist>